</body>
<footer class="foot">
    <img src="images/icon/icon.PNG" class="footimage" alt="">
    <br>
    <br>
    <p style="font-size:1.3rem; padding: 0% 30%;">This website is designed to give a platform and to provide information
        to the special educators,professionals and
        the parents of
        children with special needs.</p>
    <div class="row gap">
        <div class="col left">

            <button class="btn btn-success big"><a href="https://www.instamojo.com/@aisesa_nms/"
                    style="color: white;">Donate Us</a></button>
        </div>
        <div class="col right">

            <a href="/contact"><button class="btn btn-success big">Contact us</button></a>
        </div>
    </div>
    <br>
    <br>
    <div class="container">

        <a href="https://www.facebook.com/groups/1792243540826095"> <img class="iconn" src="images/icon/facebook.png"
                alt=""></a>

        <a href="https://www.instagram.com/aisesango/"> <img class="iconn" src="images/icon/instagram.png" alt=""></a>

        <a href="https://www.youtube.com/channel/UCmDFTAxjv1lTFtaIftjlmpg"> <img class="iconn"
                src="images/icon/youtube.png" alt=""></a>

    </div>
    <br>
    <div style="font-family: 'Montserrat', sans-serif; background-color: rgb(52, 59, 66);"">
        <br>
        <br>
                <h4>This website is created and handled by : <strong>Tanishq Chugh</strong></h4>
        <h5>If you want a website of your own contact me at the following:</h5>
        <h4>Email: tanishqchugh85@gmail.com   Whatsapp or call at: 9205232357</h4>
    <br>

    </div>
</footer>
</div>

</html>