<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- ICON -->
    <link rel="icon"
        href="https://yt3.ggpht.com/ytc/AAUvwniw4dQW34lCeLMeBtpOt4w2Ujy3u5SW8kxqlO3B=s900-c-k-c0x00ffffff-no-rj">
    <!--Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap"
        rel="stylesheet">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <!-- CSS -->

    <link rel="stylesheet" href="/css/styles.css">
    <title>AISESA</title>
</head>

<body>
    <div class="body">
        <nav class="navbar  navbar-expand-lg navbar-fixed-top navbar-dark">
            <div class="navbar-brand">

                <h1>
                    <!-- <img id="pic" src="https://yt3.ggpht.com/ytc/AAUvwniw4dQW34lCeLMeBtpOt4w2Ujy3u5SW8kxqlO3B=s900-c-k-c0x00ffffff-no-rj" alt=""> -->
                    <div class="medi">AISESA</div>
                </h1>
            </div>
            <button id="navbutton" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/news&events">News & Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/vacancy">Vacancies</a>
                    </li>
                </ul>
            </div>
        </nav>