<%- include ("partials/header") -%>
    <h1>About Us</h1>
    <hr class="hr">
    <img src="../images/icon/icon.PNG" class="icon" alt="">
    <br>
    <br>
    <p><em>AISESA</em> stands for the All India Special Education Services and Assistance and it is a platform for all
        parents of
        children with special needs and professionals working in this field. Founded by Mohit Dhuria,Sharnam Monga and Neeti Lamba
        who are special educators themselves with extensive experience in working with special children, have designed
        this website to give a platform to provide information to the special educators, professionals and the parents
        of children with special needs.
         </p>
    <div style="background-color: white;">
        <br>
        <h1>Founders</h1>
        <hr class="hr">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <img src="images/mohitDhuria.jpg" alt="" class="photo">
                            <h3>Mr. Mohit Dhuria</h3>
                        </div>
                        <div class="card-body">
                            <p class="info"><em>Aisesa</em><strong> was founded by </strong>Mr. Mohit Dhuria . He is an
                                experienced Special Educator who adapts and modifies general curriculum to suit the
                                needs of CWSN. He helps students to develop emotionally, socially and academically. He
                                believes in team spirit. He is sensitive to students needs no matter they are ADD, ADHD,
                                Autistic or Intellectually Impaired. He keeps on upgrading his knowledge by attending
                                various seminars and workshops. Also, he believes in sharing his knowledge for the same.
                                He has organized many workshops on LD, Inclusive Education, Behaviour, ADHD in and
                                outside Delhi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <img src="images/sharnamMonga.jpg" alt="" class="photo">
                            <h3>Mr. Sharnam Monga</h3>
                        </div>
                        <div class="card-body">
                            <p class="info">The <strong>Co-founder</strong> is Mr. Sharnam Monga who is also Special
                                Educator . He is a goal oriented person who has comprehensive problem solving abilities.
                                He is flexible towards any kind of work environment. He is sensitive to the needs of
                                specially abled children and works towards mainstreaming them. He works with a main
                                stream school and helps the children with learning needs to be a part of it. He too
                                keeps on attending and organizing workshop and seminars. </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <img src="images/neetiLamba.PNG" alt="" class="photo">
                            <h3>Mrs. Neeti Lamba</h3>
                        </div>
                        <div class="card-body">
                            <p class="info">The Second <strong>Co-founder</strong> is Ms. Neeti Lamba. She has done her
                                B.Ed. in Sp. Ed, Post graduate Certificate in ID(Intellectual disability) and Post graduate Diploma in guidance
                                and Counseling. She is very patient who loves to pick up all the challenges. She works
                                towards inclusion. As an HOD in her school, she started to help the CWSN so that they
                                can be a part of the mainstream classes. She also trains the parents of CWSN so that
                                they can work with their children. She also takes workshops with SCERT for Govt. Sp.
                                Educators.
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <div class="mission" style="background-color:palegoldenrod;">
        <h1>Mission and Vision</h1>
        <hr class="hr">
        <img class="missionimage" src="images/mission.jpg" alt="">
        <p class="missioncontent">To bring all educators and parents in a single place as well as to provide all service
            related to education on one single platform whether for small children, teachers, trainers, professors to the
            top level.
        </p>
    </div>
    <div style="background-color: white; height: 5rem;"></div>
    <div style="background-color: #FFE5E2;" class="carousel slide" data-interval="2000" data-ride="carousel">
        <a href="/photogallery">
            <h1>Photo Gallery</h1>
        </a>
        <hr class="hr">
        <div class="carousel-inner">
            <div class="carousel-item active"">
            <img  src=" images/Picture1.jpg" class="item" alt="First slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture2.jpg" class="item" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture3.jpg" class="item" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture4.jpg" class="item" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture5.jpg" class="item" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture6.jpg" class="item" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture7.jpg" class="item" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img src="images/Picture8.jpg" class="item" alt="Third slide">
            </div>

        </div>
    </div>
    <div class="donate">
        <img src="images/donate.jpg"  style="width:60%; filter: brightness(30%);">
        <div class="centered"><button class="btn  btn-success donate-btn"><a href="https://www.instamojo.com/@aisesa_nms/" style="color: white;"> Donate Now</a></button></div>
    </div>
    <%- include ("partials/footer") -%>