<%- include ("partials/header") -%>
<h1 style="font-style: italic; color: seagreen;">News and Events</h1>
<hr class="hr">
<br><br>

<h3 style="color:rgb(100, 145, 10); ">Numerous Online Events!! check out on our <a href="https://www.facebook.com/groups/1792243540826095">Facebook page</a></h3>
<br>
<ol style="text-align: left; color: steelblue;">
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/174501764182742">  workshop on 8th August 2020. Topics: a. Visual motor skills  b. Understanding ADHD and strategies to work with them
        </a>
    </li>
    <br>
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/168273961472189">Webinar on
            (EYE HAND COORDINATION)
            of Persons with Special Needs during COVID 19 - Action and Advocacy" organized by  The ALL INDIA SPECIAL EDUCATION SERVICES & ASSISTANCE (AISESA NGO)
            Event Date: 21 JULY 2020
        
        </a>
    </li>
    <br>
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/103424004623852""> AISESA and Baby -Ray of hope organised an event for children with special needs on 2nd March 2019 at YMCA, C.P New Delhi. 
        </a>
    </li>
    <br>
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/101430328156553">  AISESA and Special Rehabilitation Sciences and Research Centre organised a Workshop on 14 May 2017 at Indian Social Centre where a group of professionals from different fields gave their inputs to help the children with different abilities. 
        </a>
    </li>
    <br>
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/101407261492193">  AISESA Organised 1st workshop on 3-12-2016 (world disability day)
        </a>
    </li>
    <br>
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/101407261492193">Workshop on 4th December 2016 at Bal Bharti school, Pitampura Associates with PORDAC</a>

        
    </li>
    <br>
    <li>
        <a href="pDH_bRIiJu2TrqaEEtM3eGnWpiQL2QV2Zn1rlUL50rL89OrEJXG7KjU9KcIsac5h2IHkek67uHxuXaewcqev5UE1duJyk7Cz2onDJj8">  Event on 31st December 2016  New Year Celebration for CWSN Associates  with Nirmal Anchal at Chansons Mela, Vikaspuri</a>

        
    </li>
    <br>
    
    <li>
        <a href="https://www.facebook.com/aisesa.ngo.1/posts/101437408155845"> Workshop on 8th September 2017 at St. Soldier School Associtates with St. Soldier School, Panchola </a> 
        
        
    </li>
    <br>
    <li>
        Workshop on 6th  March 2018 at St. Soldier School Associtates with St. Soldier School, Panchola 
        
        
    </li>
    <br>
    <li>
         Workshop on 11th June 2016 at Safdarjung Library Associtates with PORDAC
        
    </li>
    <br>
</ol>
<%- include ("partials/footer") -%>
