<%- include ("partials/header") -%>
    <h1>Photo Gallery</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image1.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image2.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image3.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image4.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image5.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image6.JPG" class="galleryimage" alt="">
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image7.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image8.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image9.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image10.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image11.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image12.JPG" class="galleryimage" alt="">
                </div>
            </div>

        </div>
    
    </div>
    <%- include ("partials/footer") -%>