<%- include ("partials/header") -%>
    <h1>Photo Gallery</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="public/images/gallery/image1.JPG" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image2.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image3.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image4.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image5.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image6.jpg" class="galleryimage" alt="">
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image7.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image8.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image9.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image10.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image11.jpg" class="galleryimage" alt="">

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="images/gallery/image12.jpg" class="galleryimage" alt="">
                </div>
            </div>

        </div>
    
    </div>
    <%- include ("partials/footer") -%>