<%- include ("partials/header") -%>

    <h1>Latest Vacancies</h1>
    <hr class="hr">
    <br>
    <br>
    <div >
        <ul>
         <li style="text-align: left;">

                <p style="font-size: 1rem;font-weight:normal;"> <strong> Requirement For occupational therapist: </strong><br> at Baba Farid Center For Special Children
                    Salary- 25 to 35000 plus food and accommodation
                    Job location- Punjab.   
                
                    Send Your CV at dr.pritpalsingh3@gmail.com
                    Dr. Pritpal Singh 9888914655
                    You can WhatsApp your resume we will respond you as soon as possible.</p>
            </li>
         <li style="text-align: left;">

                <p style="font-size: 1rem;font-weight:normal;"> <strong>Vacancy for post of special educator: </strong><br> Psychowellness centre Janakpuri,
                    Vacancy for post of special educator. Send your resume to the kalasengupta.official@gmail.com.</p>
            </li>
         <li style="text-align: left;">

                <p style="font-size: 1rem;font-weight:normal;"> <strong>vacancy of Counselor and Special Educator:</strong><br>Loreto Day School, Elliot Road has a vacancy of Counselor and Special Educator. Interested candidates can send their C.V at Loretoelliot@gmail.com. location: Kolkata</p>
            </li>
        </ul>
    </div>
    <%- include ("partials/footer") -%>